ion-input{
    --background: #555663b4;
    }

#container{
    margin-top: 5%;
    background-color: rgb(86, 96, 117);

}

#title1-box{
    margin-bottom: 6%;
}

#title1{
    font-size: 15pt;
    font-weight: bold;
}

.error {
    color: rgb(110, 80, 80);
    font-size: 9pt;
}