#container{
    margin-top: 1%;
}

#title1{
    font-size: 15pt;
    font-weight: bold;
}
#title1-box{
    margin-bottom: 5%;
    text-align: center;
    font-weight: bolder;
}
#form-box{
    background-color: rgb(148, 169, 219);
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 20%;
    background-color: rgb(87, 96, 119);
}